.box-game-item {
    width: 100%;
    border-radius: 14px;
    overflow: hidden;
    position: relative;
    img {
        @include transition3;
    }
    .text {
        position: absolute;
        bottom: 10px;
        left: 3px;
        width: 100%;
        color: var(--White, #FFF);
        text-align: center;
        font-size: 9px;
        font-weight: 500;
        line-height: 12px;
        letter-spacing: 3.42px;
        text-transform: uppercase;
        opacity: 0.6;
    }
    &:hover {
       img {
            transform: scale(1.1);
       }
    }
}