.nav-list-item{
    & .title-footer{
        font-size: 15px;
        font-weight: 500;
        line-height: 22.43px;
        color:#93ACD3;
        text-transform: uppercase;
        margin-bottom: 38px;

    }
    & .footer-menu{
        & ul.menu-list {
            & li.menu-item {
                &:not(:last-child){
                    margin-bottom: 0.8px;
                }
                & a{
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 22.43px;
                    color: var(--body-text);
                    text-transform: capitalize;
                    &:hover{
                        color: var(--primary);
                    }
                }
            }
        }
    }
}
.footer-navs-list{
    & .footer-nav-wrap {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}
.footer-section{
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: solid 1px var(--line-footer);
}
.footer-coppy-right{
    margin-bottom: 40px;
    & p{
        font-size: 13px;
        font-weight: 400;
        line-height: 19.44px;
        color:  var(--body-text);
        margin-bottom: 19px;

    }
    & .footer-bottom{
        & img{
            height: 34px;
            opacity: 0.2;
            margin-right: 26px;
            &:hover{
                opacity: 1;
                transition: all 0.3s;
            }
        }
    }
}
