.header {
    position: absolute;
    z-index: 10;
    top: 30px;
    width: 100%;
    .header-inner {

        .header-inner-wrap {
            @include flex(center,space-between);
            .header-left {
                padding-left: 5px;
            }
            .header-right {
                @include flex(center,center);
                gap: 20px;
                .header-news {
                    color: var(--Body-Text);
                    font-size: 16px;
                    font-weight: 800;
                    line-height: 21px;
                    text-transform: capitalize;
                }
                .header-button {
                    @include flex(center,center);
                    gap: 8px;
                }
            }
        }
    }
}

.header-dashboard {
    &.active {
        width: calc(100% - 70px) !important;
    }
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 300px);
    height: 80px;
    padding: 12px 0px 12px 0px;
    background: transparent;
    z-index: 15;
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .header-left{
            & .search-top {
                min-width: 500px;
                width: 100%;
                align-items: center;
                display: inline-flex;
                flex-direction: row;
                flex-wrap: nowrap;
                font-size: 15px;
                font-weight: 400;
                line-height: 22.43px;
                gap: 8px;
                justify-content: space-between;
                padding: 9px 16px;
                background-color: rgba(147, 172, 211, 0.1);
                border-radius: 10px;
            }
        }
        & .header-right{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 23px;
            & .header-coins{
                & .bootstrap-select{
                    width: auto !important;
                }
            }
            & .btn-top-group {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: nowrap;
                gap: 8px;
            }
        }
    }
}

