.header {
    position: absolute;
    z-index: 10;
    top: 30px;
    width: 100%;
    .header-inner {

        .header-inner-wrap {
            @include flex(center,space-between);
            .header-left {
                padding-left: 5px;
            }
            .header-right {
                @include flex(center,center);
                gap: 20px;
                .header-news {
                    color: var(--Body-Text);
                    font-size: 16px;
                    font-weight: 800;
                    line-height: 21px;
                    text-transform: capitalize;
                }
                .header-button {
                    @include flex(center,center);
                    gap: 8px;
                }
            }
        }
    }
}

.header-dashboard {
    &.active {
        width: calc(100% - 70px) !important;
    }
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 300px);
    padding: 12px 0px 12px 0px;
    background: transparent;
    z-index: 15;
    .wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        & .header-left{
            & .search-top {
                min-width: 500px;
                width: 100%;
                align-items: center;
                display: inline-flex;
                flex-direction: row;
                flex-wrap: nowrap;
                font-size: 15px;
                font-weight: 400;
                line-height: 22.43px;
                gap: 8px;
                justify-content: space-between;
                padding: 9px 16px;
                background-color: rgba(147, 172, 211, 0.1);
                border-radius: 10px;
            }
        }
        & .header-right{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 23px;
            & .header-coins{
                & .bootstrap-select{
                    width: auto !important;
                }
            }
            & .btn-top-group {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: nowrap;
                gap: 8px;
            }
        }
    }
}
.header-dashboard.is-fixed {
    background-color: var(--bg2);
    transition: background ease 0.3s;
    box-shadow: 0px 6px 20px 0px rgba(0, 0, 0, 0.70);
}
.header-action {
    display: none;
    & .header-bar{
        display: flex;
        gap: 20px;
        align-items: center;
        cursor: pointer;
        & .button-show-hide{
            & .mobile-button{
                & span{
                    width: 25px;
                    height: 2px;
                    position: relative;
                    display: inline-block;
                    background-color: var(--white);
                    &::before{
                        top: -10px;
                        position: absolute;
                        content: '';
                        width: 20px;
                        height: 1px;
                        left: 0;
                        background-color: var(--white);
                    }
                    &::after{
                        top: 10px;
                        position: absolute;
                        content: '';
                        width: 15px;
                        height: 1px;
                        left: 0;
                        background-color: var(--white);
                    }
                }
            }
       
        }

    }
    & .header-logo{
        img{
            width: 150px;
        }
    }
}
.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #000000a1;
    z-index: 11;
    display: none;

    &.active {
        display: block !important;
    }

    & .button-close {
        position: absolute;
        right: 30px;
        top: 30px;

        & span {
            position: relative;
            background: transparent;
            cursor: pointer;
            display: inline-block;
            width: 26px;
            height: 26px;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                height: 2px;
                width: 100%;
                left: 0;
                top: 50%;
                -webkit-transform-origin: 50% 50%;
                -ms-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                background: var(--white);
                -webkit-transform: rotate3d(0, 0, 1, 45deg);
                transform: rotate3d(0, 0, 1, 45deg);

            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                height: 2px;
                width: 100%;
                left: 0;
                top: 50%;
                -webkit-transform-origin: 50% 50%;
                -ms-transform-origin: 50% 50%;
                transform-origin: 50% 50%;
                background: var(--white);
                -webkit-transform: rotate3d(0, 0, 1, -45deg);
                transform: rotate3d(0, 0, 1, -45deg);
            }
        }
    }
}
