.model-sign-in {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
    background: rgba(8, 9, 13, 0.75);
    backdrop-filter: blur(2px);
    align-items: flex-start;
    display: flex;
    height: 100%;
    justify-content: center;
    max-height: 100dvh;
    overflow: auto;
    width: 100%;
    display: none;
    opacity: 0;

    &.show {
        display: flex !important;
        opacity: 1;
    }

    & .modal-wrap {
        position: relative;
        max-width: 1000px;
        width: 100%;
        display: flex;
        margin: auto;
        align-items: center;
        justify-content: space-between;
        border-radius: 20px;
        padding: 30px;
        gap: 50px;
        background: #181D2E;
        box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.80);

        & .model-image {
            position: relative;
            display: flex;
            justify-content: center;
            width: 100%;
            max-width: 450px;

            & img {
                width: 100%;
            }

            & .model-iner-content {
                position: absolute;
                bottom: 0;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 40px;
                width: 100%;
                flex-direction: column;

                & .model-offer {
                    max-width: 221px;

                    & .sub-title {
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20.93px;
                        letter-spacing: 4px;
                        color: var(--white);
                        display: inline-block;
                        margin-bottom: 10px;

                    }
                }

                & .model-step {
                    padding: 0 27px;
                    width: 100%;

                    & .steps {
                        display: flex;
                        gap: 8px;
                        list-style-type: none;
                        padding: 0;
                        width: 100%;
                        justify-content: space-between;

                        & .steps-item {
                            position: relative;

                            &:not(:last-child)::after {
                                color: #55657E;
                                content: "\e95e";
                                font-family: "icomoon";
                                font-size: 12px;
                                position: absolute;
                                right: -40px;
                                top: 19.25px;
                                rotate: -90deg;
                            }

                        }


                        & .steps-icon {
                            margin-bottom: 12px;

                            & i {
                                font-size: 20px;
                                padding: 13px;
                                color: var(--primary);
                                border-radius: 10px;
                                border: 1px solid rgba(255, 255, 255, 0.05);
                                background: #252B3E;
                                box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.20);
                                display: inline-block;
                            }
                        }
                    }

                }
            }
        }

        & .model-content {

            & a {
                color: var(--primary);

                &:hover {
                    color: var(--white);
                }
            }

            & .form-info {
                margin-bottom: 12px;

                & .form-title {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 35.88px;
                    color: var(--white);
                    margin-bottom: 4px;
                }

                & img {
                    margin-bottom: 10px;
                }
            }

            & .form-sign-in {
                & .form-bar {
                    background-color: #252B3E;
                    border-radius: 6px;
                    height: 3px;
                    width: 100%;
                    margin-bottom: 36px;

                    & .form-bar-inner {
                        background: var(--primary);
                        height: 3px;
                        width: 31%;
                    }

                }

                & .form-form-step {
                    margin-bottom: 36px;

                    & .input {
                        &:not(:last-child) {
                            margin-bottom: 20px;
                        }
                    }

                    & .input-wrap {
                        position: relative;

                        & input {
                            padding: 19px 52px;
                        }

                        &>svg {
                            position: absolute;
                            left: 20px;
                            top: 50%;
                            transform: translateY(-50%);
                        }

                        & .toggle-password {
                            position: absolute;
                            right: 20px;
                            top: 50%;
                            transform: translateY(-50%);
                            cursor: pointer;
                        }
                    }
                }

                & .check-box-form {
                    margin-bottom: 36px;

                    & .form-group {
                        display: flex;
                        align-items: center;
                        flex-wrap: wrap;

                        &:not(:last-child) {
                            margin-bottom: 12px;
                        }

                        & input {
                            padding: 0;
                            height: initial;
                            width: initial;
                            margin-bottom: 0;
                            display: none;
                            cursor: pointer;

                            &:checked+label::after {
                                content: '';
                                display: block;
                                position: absolute;
                                left: 8px;
                                width: 6px;
                                height: 10px;
                                border: solid #55657E;
                                border-width: 0 2px 2px 0;
                                transform: rotate(45deg);

                            }
                        }

                        & label {
                            position: relative;
                            cursor: pointer;
                            margin-bottom: 0;
                            display: flex;
                            align-items: center;

                            & .checkbox-label {
                                font-size: 13px;
                                line-height: 19.44px;
                            }

                            &::before {
                                content: '';
                                -webkit-appearance: none;
                                background-color: transparent;
                                border: 1px solid #55657E;
                                padding: 10px;
                                display: inline-block;
                                position: relative;
                                vertical-align: middle;
                                cursor: pointer;
                                margin-right: 10px;
                                border-radius: 6px;
                            }
                        }

                        & .multiple-checkboxes-info {
                            margin-left: 10px;
                        }

                    }
                }

                & .form-buttons {
                    margin-bottom: 36px;
                }
            }
        }

    }
}

.btn-close-model {
    position: absolute;
    right: 20px;
    top: 20px;
    border: 1px solid;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        rotate: 90deg;
    }

    & span {
        position: relative;
        background: transparent;
        display: inline-block;
        width: 10px;
        height: 9px;
        margin: 9px;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            height: 1px;
            width: 100%;
            left: 0;
            top: 50%;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            background: var(--white);
            -webkit-transform: rotate3d(0, 0, 1, 45deg);
            transform: rotate3d(0, 0, 1, 45deg);
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            height: 1px;
            width: 100%;
            left: 0;
            top: 50%;
            -webkit-transform-origin: 50% 50%;
            -ms-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
            background: var(--white);
            -webkit-transform: rotate3d(0, 0, 1, -45deg);
            transform: rotate3d(0, 0, 1, -45deg);
        }
    }
}

// Model search
.modal-search {
    & .modal-dialog {
        max-width: 1110px !important;
        margin: 50px auto !important;

        & .search-modal-games {
            padding: 16px;
            border-radius: 10px;

            & .search-game-static {
                & .input-left-container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;

                    & svg {
                        position: absolute;
                        left: 0px;
                        top: 50%;
                        transform: translateY(-50%);
                    }

                    & .input-native {
                        height: 20px;
                        padding: 0px 30px;
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 22.43px;
                        border: unset;
                        background: transparent;
                        border-radius: unset;
                    }

                    & .button-search {
                        width: 20%;
                        flex-shrink: 1;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        gap: 7px;
                    }

                }
            }
        }
    }
}

.selec-game-search {
    & .left {
        & .title {
            font-size: 18px;
            font-weight: 500;
            line-height: 26.91px;
            color: var(--body-text);
        }
    }

    & .btn-groups {

        & .swiper-button-prev,
        .swiper-button-next {
            border: 1px solid rgba(85, 101, 126, 0.14);
        }
    }

    & .box-offer-item {
        & .title {
            bottom: 6px;
            font-size: 5px;
        }
    }
}
// Model Backdrop
.modal-backdrop {
    background: rgba(8, 9, 13, 0.75);
    backdrop-filter: blur(2px);

    &.show {
        opacity: 1;
    }
}
// Model promotoins
.model-promotoins{
    & .modal-dialog-centered {
        max-width: 710px;
        width: 100%;
       
        & .modal-content{
            border-radius: 25px;
        }
        & .modal-content-promotoins {
            padding: 30px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            background-color: var(--bg1);
            border-radius: 20px;
            box-shadow: 0px 12px 40px 0px rgba(0, 0, 0, 0.80);
            position: relative;
            & .btn-close {
                background: url(/images/page/closex.png) center/1em auto no-repeat;   
                opacity: 1;
                position: absolute;
                padding: 8px;
                background-color: rgba(0, 0, 0, 0.50);
                border-radius: 100%;
                right: 40px;
                top: 40px;
                z-index: 1;
            }
            & .image-modal-promotoins{
                position: relative;
                overflow: hidden;
                & .promotoins-image{
                    & img{
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 10px;
                        z-index: 0;
                    }
                }
                & .tag {
                    position: absolute;
                    z-index: 1;
                    top: 40px;
                    left: 30px;
                    & span {
                        padding: 7px 10px;
                        border-radius: 5px;
                        background: linear-gradient(0deg, #0C5EFF 0.8%, #1398F9 100%), linear-gradient(314deg, #F50 27.39%, #FFA071 84.85%);
                        box-shadow: 0px 3px 28px 0px rgba(34, 131, 246, 0.40), 0px 3px 3px 0px rgba(255, 255, 255, 0.30) inset, 0px 2.5px 0px 0px #003293;
                        font-size: 14px;
                        font-weight: 600;
                        line-height: 13.62px;
                        color: var(--white);
                        display: inline-block;
                    }
                }
                & .promotoins-car-inner {
                    position: relative;
                    padding: 193px 30px 30px 30px;
                    max-width: 500px;
                    width: 100%;
                    z-index: 2;
                    & .promotoins-subtitle {
                        font-size: 24px;
                        font-weight: 600;
                        line-height: 35.88px;
                        color: var(--white);
                        text-transform: uppercase;
                        margin-bottom: 16px;
                        display: inline-block;
                
                    }
                }
            }
            & .card-modal-list{
                & ol {
                    padding-left: 49px;
                    margin-top: -4px;
                    & li{
                        list-style: decimal;
                        position: relative;
                        & p {
                            color: var(--text);

                        }
                        &:not(:last-child){
                            margin-bottom: 18px;
                        }
                        &::marker{
                            font-size: 20px;
                            font-weight: 700;
                            line-height: 29.9px;
                            color: var(--white);
                            height: 35px;
                            width: 35px;
                            padding: 0 12px;
                            border-radius: 100%;
                            background: var(--bg4);
                            box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px -2px 4px 0px rgba(104, 93, 255, 0.18) inset;
                            position: relative;
                        }
                        // &:before {                       
                        //     content: counter(li-count);                       
                        //     position: absolute;
                        //     top: 0;
                        //     font-size: 20px;
                        //     font-weight: 700;
                        //     line-height: 29.9px;
                        //     color: var(--white);
                        //     height: 35px;
                        //     width: 35px;
                        //     padding: 0 12px;
                        //     border-radius: 100%;
                        //     background: var(--bg4);
                        //     box-shadow: 0px 2px 4px 0px rgba(255, 255, 255, 0.25) inset, 0px -2px 4px 0px rgba(104, 93, 255, 0.18) inset;

                        //  }
                        
                    }
                }
            }
            & .modal-promotoin-btn{
                & .q6-button{
                    width: 100%;
                }
            }
        }
    }

}
