.wg-social {
    ul {
        @include flex(center, start);
        flex-wrap: wrap;
        gap: 10px;

        li {
            a {
                @include flex(center, center);
                width: 42px;
                height: 42px;
                flex-shrink: 0;
                font-size: 20px;
                border-radius: 10px;
                border: 1px solid var(--bg1);
                background: transparent;
            }
        }
    }
}