.wg-social {
    ul {
        @include flex(center,start);
        flex-wrap: wrap;
        gap: 12px;
        li {
            a {
                @include flex(center,center);
                width: 46px;
                height: 46px;
                flex-shrink: 0;
                font-size: 20px;
                border-radius: 14px;
                border: 1px solid rgba(255, 255, 255, 0.05);
                background: var(--secondar);
            }
        }
    }
}