.widget-tabs {
    .widget-menu-tab {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        flex-wrap: nowrap;
        border-radius: 10px;
        width: 100%;
        padding: 17px 17px;
        background-color: var(--bg1);

        .item-title {
            @include flex(center, center);
            padding: 9px 16px;
            gap: 8px;
            border-radius: 8px;
            background: var(--backdrop);
            cursor: pointer;
            @include transition3;
            position: relative;

            .inner {
                @include flex(center, center);
                gap: 8px;
                color: var(--white);
                font-size: 15px;
                font-weight: 400;
                line-height: 22.43px;
                letter-spacing: 0.2px;
                @include transition3;

                & i {
                    font-size: 22px;
                    color: var(--primary);

                }
            }

            &:hover,
            &.active {
                background: var(--primary);

                .inner {
                    color: var(--white);

                    & i {
                        color: var(--white)
                    }
                }
            }

            &:not(:last-child)::after {
                content: '';
                position: absolute;
                right: -21%;
                height: 110%;
                width: 1px;
                opacity: 0.5;
                background: linear-gradient(90deg, rgba(67, 83, 109, 0.00) 0%, #43536D 48.66%, rgba(67, 83, 109, 0.00) 100%);
            }
        }
    }
}

.tab-game {
    display: inline-flex;
    padding: 6px;
    border-radius: 10px;
    background-color: var(--bg1);
    gap:11px;

    & .nav-item {
        & .nav-link {

            
            padding: 9px 16px;
            border-radius: 10px;
            background-color: transparent;
            font-size: 15px;
            font-weight: 400;
            line-height: 22.43px;
            color: var(--white);
            display: flex;
            align-items: center;
            gap: 10px;

            & i {
                font-size: 23px;
                color: var(--body-text);
            }
            &.active{
                background-color: var(--primary);
                & i {
                    color: var(--white);
                }
            }
        }
    }
}