.wg-table-ratings {
    border-radius: 14px;
    overflow: hidden;
    background: var(--backdrop);
    > .title {
        @include d-flex();
        padding: 20px 30px;
        gap: 20px;
        div {
            width: 100%;
            color: var(--Body-Text);
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
            text-transform: capitalize;
        }
    }
    > .item {
        @include d-flex();
        align-items: center;
        padding: 20px 30px;
        gap: 20px;
        &:nth-child(2n+1) {
            background: var(--backdrop-1);
        }
        > div {
            width: 100%;
            color: var(--Body-Text);
            font-size: 14px;
            font-weight: 800;
            line-height: 19px;
            text-transform: capitalize;
        }
    }
    &.style-1 {
        > .title {
            div {
                &:nth-child(1) {
                    width: 100px;
                }
                &:nth-child(2) {
                    width: 120px;
                }
                &:nth-child(3) {
                    width: 168px;
                }
                &:nth-child(4) {
                    width: 168px;
                }
                &:nth-child(5) {
                    width: 168px;
                }
                &:nth-child(6) {
                    width: 168px;
                }
            }
        }
        > .item {
            &:nth-child(2n) {
                > div {
                    &:nth-child(5) {
                        color: var(--primary);
                    }
                    &:nth-child(6) {
                        .number {
                            color: var(--primary);
                        }
                    }
                }
            }
            > div {
                &:nth-child(1) {
                    width: 100px;
                    @include flex(center,start);
                    gap: 6px;
                    .icon {
                        i {
                            color: var(--Note);
                            font-size: 20px;
                        }
                    }
                    .number {
                        color: var(--Text-Title);
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 19px;
                    }
                }
                &:nth-child(2) {
                    width: 120px;
                }
                &:nth-child(3) {
                    width: 168px;
                    @include flex(center,start);
                    gap: 6px;
                    .avatar {
                        position: relative;
                        img {
                            border-radius: 50%;
                            width: 24px;
                            height: 24px;
                        }
                        .number {
                            position: absolute;
                            right: -3px;
                            bottom: -6px;
                            width: 16px;
                            height: 16px;
                            @include flex(center,center);
                            color: var(--White);
                            font-size: 8px;
                            font-weight: 900;
                            line-height: 11px;
                            flex-shrink: 0;
                            border-radius: 50%;
                            background: linear-gradient(139deg, #474D69 16.13%, #292F4D 74.19%);
                            box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.06) inset;
                        }
                    }
                }
                &:nth-child(4) {
                    width: 168px;
                }
                &:nth-child(5) {
                    width: 168px;
                }
                &:nth-child(6) {
                    width: 168px;
                }
            }
        }
    }
}